* {
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
}

.back {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.back-left {
    background-color: rgb(1, 70, 158);
    float: left;
    height: 100%;
    width: 50%;
}

.back-right {
    background-color: rgba(238, 28, 39, 0.863);
    float: right;
    height: 100%;
    width: 50%;
}

.big-number-left {
    position: absolute;
    width: 50%;
    height: 100%;
    z-index: 0;
}

.big-number-left>p {
    font-size: calc(15vw);
    color: white;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.timer-right {
    margin-left: 50%;
}

.big-number-right {
    position: absolute;
    width: 50%;
    height: 100%;
    z-index: 0;
}

.big-number-right>p {
    font-size: calc(15vw);
    color: white;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.control {
    position: absolute;
    z-index: 2;
}

.control-right {
    position: absolute;
    z-index: 2;
}